@{
    ViewBag.Title = "Admin";
}
<h2>
    Admin</h2>
<section>
 <nav>
  <ul> 
  <li>
  @Html.ActionLink("Origins", "Index","Origins")
  </li>
  <li>
  @Html.ActionLink("Traits","Index","Traits")
  </li>
  </ul> 
  </nav> 
  </section>
